<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Layouts</title>
</head>

<body>
    <div id="container">
        <div id="marca">marca</div>
        <div id="conteudo">
            <div id="conteudo-principal">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nulla consequuntur veritatis?
                    Excepturi,
                    cum, maxime quasi doloremque adipisci rerum, praesentium vero aut deleniti cumque alias?</p>
            </div>
            <div id="conteudo-secondario">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nulla consequuntur veritatis?
                    Excepturi,
                    cum, maxime quasi doloremque adipisci rerum, praesentium vero aut deleniti cumque alias?</p>
            </div>
        </div>
        <div id="navegacao">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Notícia</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <div id="rodape">rodape</div>
    </div>
</body>

</html>