@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf2f8;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  display: flex;
  height: 300px;
  background-color: white;
  width: 60%;
  margin: 20% auto;
  border-radius: 6px;
  box-shadow: 4px 3px 5px #e0e9f130;
}

.main-img {
  width: 40%;
  border-radius: 6px 0px 0px 6px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

.content h3 {
  font-size: 18px;
  color: #464e5b;
}

.content p {
  font-size: 14px;
  color: #c7cbce;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-content {
  display: flex;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile-info h4 {
  font-size: 12px;
  color: #464e5b;
  margin-bottom: 5px;
}

.profile-info h6 {
  font-size: 10px;
  color: #c7cbce;
}

.share-bg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(74, 86, 110);
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-bg i {
  color: white;
  cursor: pointer;
}
.shares {
  position: absolute;
  right: -55px;
  bottom: 65px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.share-options {
  display: flex;
  padding: 10px;
  width: 200px;
  background-color: rgb(74, 86, 110);
  color: white;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 4px 5px 1px #e0e9f130;
}

.share-options h6 {
  text-transform: uppercase;
  color: #ffffff50;
  line-height: 16px;
}

.shares .arrow {
  width: 15px;
  height: 15px;
  background-color: rgb(74, 86, 110);
  margin: 0 45%;
  transform: rotate(45deg) translateY(-70%);
}

.share-bg:hover #shares {
  opacity: 20%;
}
.shares:hover,
.share-bg:hover + #shares {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.share-options i {
  cursor: pointer;
}

/*Mobile*/
@media only screen and (max-width: 800px) {
  /*main container*/
  .container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    height: 80%;
    width: 70%;
  }

  .main-img {
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    height: 40%;
  }

  .content p {
    font-size: 12px;
  }
  .content h3 {
    font-size: 14px;
    margin-top: 10px;
  }

  .content p,
  .footer-content {
    margin-top: 20px;
  }

  /*shares*/

  .shares {
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .share-options {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: rgb(74, 86, 110);
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 8px 8px;
    box-shadow: 4px 5px 1px #e0e9f130;
  }

  .arrow {
    display: none;
  }
}
